<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jmeter web</title>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-loading.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css" type="text/css"/>
</head>
<body>
<!-- 导航 -->
<div class="container-fluid">
    <div class="row">
        <div class="page-sidebar col-md-1">
            <ul class="nav panel-group sidebar-menu" id="nav_parent">
                <li class="panel">
                    <a href="#">
                        <i class="menu-icon glyphicon glyphicon-home"></i>
                        <span class="menu-text"> 首页 </span>
                    </a>
                </li>
                <li class="panel">
                    <a class="panel-heading collapsed" href="#collapse1" data-toggle="collapse"
                       data-parent="#nav_parent">
                        <i class="menu-icon glyphicon glyphicon-fire"></i>
                        <span class="menu-text">jmeter</span>
                        <i class="glyphicon glyphicon-chevron-right menu-expand"></i>
                    </a>
                    <ul class="nav submenu collapse" id="collapse1">
                        <li>
                            <a href="#"><span class="menu-text">jmeter使用说明</span></a>
                        </li>
                        <li>
                            <a class="panel-heading collapsed" href="#collapse2" data-toggle="collapse">
                                <span class="menu-text">接口类型</span>
                                <i class="glyphicon glyphicon-chevron-right menu-expand"></i>
                            </a>
                            <ul class="nav submenu collapse" id="collapse2">
                                <li>
                                    <a href="#">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">dubbo接口</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">http接口</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">websocket接口</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-text">Tabs & Accordions</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="panel-heading collapsed" href="#collapse5" data-toggle="collapse"
                       data-parent="#nav_parent">
                        <i class="menu-icon glyphicon glyphicon-link"></i>
                        <span class="menu-text">自动化</span>
                        <i class="glyphicon glyphicon-chevron-right menu-expand"></i>
                    </a>
                    <ul class="nav submenu collapse" id="collapse5">
                        <li>
                            <a href="#"><span class="menu-text"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="menu-text"> Grid</span></a>
                        </li>
                        <li>
                            <a class="panel-heading collapsed" href="#collapse6" data-toggle="collapse">
                                <span class="menu-text">Multi Level Menu</span>
                                <i class="glyphicon glyphicon-chevron-right menu-expand"></i>
                            </a>
                            <ul class="nav submenu collapse" id="collapse6">
                                <li>
                                    <a href="#">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">Level 3</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-heading collapsed" href="#collapse7" data-toggle="collapse">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">Level 4</span>
                                        <i class="glyphicon glyphicon-chevron-right menu-expand"></i>
                                    </a>
                                    <ul class="nav submenu collapse" id="collapse7">
                                        <li>
                                            <a href="#">
                                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                                <span class="menu-text">Some Item</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                                <span class="menu-text">Another Item</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-11" style="margin-left: 230px;">
            <div id="dubbo" class="row" style="display: block;">
                <div class="col-md-5">
                    <div class="row">
                        <button class="accordion-toggle btn btn-primary btn-lg" data-toggle="collapse"
                                data-parent="#dubbo" href="#protocol_select">
                            协议配置 <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <form id="protocol_select" class="accordion-body collapse" style="height: 0px; ">
                            <div class="form-group">
                                <label for="registry_protocol">注册中心协议</label>
                                <select id="registry_protocol" class="form-control">
                                    <option>===请选择===</option>
                                    <option>zookeeper</option>
                                    <option>redis</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="registry_address">注册中心IP</label>
                                <select id="registry_address" class="form-control" onchange="getDubboServices()">
                                    <option>===请选择===</option>
                                    <option>10.10.6.3:2181</option>
                                    <option>172.18.4.48:2181</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <form>
                            <div class="alert alert-danger form-group" id="service_tip" style="display: none">
                                <strong>请输入接口名称</strong>
                            </div>
                            <div class="form-group">
                                <label for="interface_name">接口名称</label>
                                <input id="interface_name" list="interface_list" class="form-control"
                                       onchange="getDubboMethods()" type="text">
                                <datalist id="interface_list">
                                </datalist>
                            </div>
                            <div class="alert alert-danger form-group" id="method_tip" style="display: none">
                                <strong>请输入方法名称</strong>
                            </div>
                            <div class="form-group">
                                <label for="method_name">方法名称</label>
                                <input id="method_name" list="method_list" class="form-control" type="text">
                                <datalist id="method_list">
                                </datalist>
                            </div>
                            <div class="alert alert-danger form-group" id="param_tip" style="display: none">
                                <strong>请添加请求参数</strong>
                            </div>
                            <div class="input-group" id="centerParamGroup">
                                <label class="input-group-addon" id="basic-addon5">请求参数:</label>
                                <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增"
                                        id="addCenterIpGrpBtn"
                                        onclick="addCenterIpGrp(this)"><span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <p></p>
                            <p></p>
                            <div class="form-group">
                                <button class="btn btn-info" id="test" onclick="testInterface()">
                                    一键测试
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7">
                    <button class="accordion-toggle btn btn-primary btn-lg" data-toggle="collapse" data-parent="#dubbo"
                            href="#jmeter_config">
                        jmeter配置 <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <form id="jmeter_config" class="accordion-body collapse" style="height: 0px; ">
                        <div class="form-group">
                            <label for="jemter_version">jemter版本</label>
                            <select id="jemter_version" class="form-control">
                                <option value="请选择">===请选择===</option>
                                <option value="3.0">3.0</option>
                                <option value="3.1">3.1</option>
                                <option value="3.3">3.3</option>
                                <option value="5.0">5.0</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pre_name">脚本名称</label>
                            <input class="form-control" name="pre_time" id="pre_name"
                                   placeholder="please input pre name"/>
                        </div>
                        <div class="form-group">
                            <label for="pre_time">压测时间</label>
                            <input class="form-control" name="pre_time" id="pre_time"
                                   placeholder="please input pre time" oninput="value=value.replace(/[^\d]/g,'')" />
                        </div>
                        <div class="form-group">
                            <label for="pre_number">压测并发数</label>
                            <input class="form-control" name="pre_time" id="pre_number"
                                   placeholder="please input pre number" oninput="value=value.replace(/[^\d]/g,'')" />
                        </div>
                    </form>
                    <form>
                        <div class="form-group">
                            <label for="log_show">log日志</label>
                            <textarea class="form-control" id="log_show" rows="30" readonly="readonly"
                                      style="background-color: #122b40;resize: none;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div id="http" class="row" style="display: none;">
                <form class="col-md-6">
                    <fieldset disabled>
                        <div class="form-group">
                            <label>Disabled input</label>
                            <input type="text" class="form-control" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="http_protocol">Disabled select menu</label>
                            <select id="http_protocol" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Can't check this
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div id="websocket" class="row" style="display: none">
                <form class="col-md-6">
                    <fieldset disabled>
                        <div class="form-group">
                            <label>Disabled input</label>
                            <input type="text" class="form-control" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="websocket_protocol">Disabled select menu</label>
                            <select id="websocket_protocol" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Can't check this
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
